[submodule "lib/color-picker"]
	path = lib/color-picker
	url = https://github.com/zhangbobell/color-picker.git
[submodule "lib/hotbox"]
	path = lib/hotbox
	url = https://github.com/fex-team/hotbox.git
